button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    margin-left: 1250px;
    background-color: #5bb3b3;
    color: white;
}
.budget-items-section {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.budget-items-container {
    justify-content: center;
    align-items: center;
    display: flex;
    max-width:2000px;
    height: 100%;
    width: 100%;
}
.expenses-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0; 
    flex-grow: 1;

}

.income-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0; 
    flex-grow: 1;
    margin-right: 40px;
}
h1 {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.budget-items {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
/* .income-column {
    justify-content: center;
    align-items: center;
    margin-right: 35px;
} */ 
.expenses-column h1 {
    color: #f66767;
}

.income-column h1{
    color: #47e19a
}

