h1 {
    color: #5eccd6;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 30px;
  }
  
  h2 {
    color: #698893;
    margin-bottom: 50px;
  }
  h3 {
    color: #5eccd6;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 30px;
    position: center;

  }
  a {
    color: #5eccd6;
    border-bottom: 2px solid transparent;
    transition: 0.5s border-bottom;
  }
  
  mat-toolbar {
    background-color: transparent;
    display: flex;
    justify-content: right;
  }
  
  .background {
    align-items: center;
    /* background-image: url(https://imgs.search.brave.com/1HhRGyLzljaQBxAzZjx5MgoAG81nOhj6HJ5kW8oZ2l0/rs:fit:1200:1001:1/g:ce/aHR0cHM6Ly93d3cu/cG5na2V5LmNvbS9w/bmcvZnVsbC82NS02/NTgwMjZfbGFuZHNj/YXBlLWV1Y2xpZGVh/bi12ZWN0b3ItbW91/bnRhaW4tcmFuZ2Ut/dmVjdG9yLXBuZy5w/bmc); */
    box-sizing: border-box;
    background-image: url('./../../../assets/mountain-png-21323.png');
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10%;
  }
  
  .btn {
    background-color: #5eccd6;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.5s background-color;
    size: 20px;
  }
  
  a:hover {
    border-bottom: 2px solid #5eccd6;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #52b7c0;
  }