.background {
    align-items: center;
    background-image: url('../../../../../assets/mountain-png-21323.png');
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10%;
  }
.login-container {
    border-radius: 10px;
    box-shadow: 0 0 20px 2px #e4e4e4;
    display: flex;
    width: 60%;
  }
  
  .text-container {
    align-items: center;
    background-color: #5eccd6;
    border-radius: 10px 0 0 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 30%;
  }
  
  .form-container {
    align-items: center;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    width: 70%;
  }
  
  .text-container h1 {
    color: #fff;
  }
  
  .text-container button {
    background-color: transparent;
    border: 1px solid #fff;
  }